* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #232323;
}

.logo {
    width: 175px;
}

.hero-image {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)), url(./img/arkaplan.jpg);
    height: 100vh;
    position: relative;
}

.dropdown {
    border: 1px solid grey;
}

.hero-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    font-size: 45px;
    font-weight: bold;
}

.hero-text p {
    font-size: 18px;
    
}

.form-control {
    background-color: rgba(0, 0, 0, 0.332);
}

.form-control::placeholder {
    color: rgb(177, 175, 175);
    font-weight: 600;
}

.arkaplan {
    background-color: black;
}

.h2 {
    font-size: 50px;
    font-weight: 700;
}

.accordion {
    background-color: #232323;
    color: white;
    border: none;
    outline: none;
    width: 100%;
    padding: 30px 20px;
    font-size: 22px;
    width: 100%;
    text-align: left;
}

.accordion::after {
    content: "\002B";
    float: right;
}

.active::after {
    content: "X";
    font-size: 30px;
}

.panel {
    padding: 25px 25px;
    font-size: 22px;
    overflow: hidden;
    display: none;
    color: white;
    background-color: #232323;
}

.footer-menu ul li a {
    color: white;
}

.footer-menu ul li  {
    list-style-type: none;
    margin-top: 10px;
}

.call {
    color: rgb(177, 175, 175);
}

.dropdown1 {
    width: 10%;
    margin-left: 45px;
    border: 1px solid grey;
}
